@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

body {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  font-family: 'Heebo', sans-serif;

}

.signin {
  display: flex;
  flex-direction: column;
  border: solid red 2px;
  width: 500px;
  margin: 80px auto;
  align-items: center;
}

.signin h1 {
  color: white;
  font-weight: bold;
}

.signinform {
  display: flex;
  flex-direction: column;
}

.signin input {
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid white;
  text-align: center;
}